In [1]:
import pandas as pd
df=pd.read_csv("transactions .csv")
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [2]:
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [3]:
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [4]:
df.rename(columns={"UserID":"uid"},inplace=True)
print(df.head())

   TransactionID TransactionDate  uid  ProductID  Quant
0              1      2010-08-21  7.0          2      1
1              2      2011-05-26  3.0          4      1
2              3      2011-06-16  3.0          3      1
3              4      2012-08-26  1.0          2      3
4              5      2013-06-06  2.0          4      1

In [5]:
print(df.tail())

   TransactionID TransactionDate  uid  ProductID  Quant
5              6      2013-12-23  2.0          5      6
6              7      2013-12-30  3.0          4      1
7              8      2014-04-24  NaN          2      3
8              9      2015-04-24  7.0          4      3
9             10      2016-05-08  3.0          4      4

In [6]:
print(df.tail(1))

   TransactionID TransactionDate  uid  ProductID  Quant
9             10      2016-05-08  3.0          4      4

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   uid              9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quant            10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [8]:
print(df.describe())

       TransactionID       uid  ProductID      Quant
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [9]:
print(df['uid'].describe())

count    9.000000
mean     3.444444
std      2.127858
min      1.000000
25%      2.000000
50%      3.000000
75%      3.000000
max      7.000000
Name: uid, dtype: float64

In [10]:
print(df['uid'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: uid, dtype: float64

In [11]:
print(df.iloc[0])

TransactionID               1
TransactionDate    2010-08-21
uid                       7.0
ProductID                   2
Quant                       1
Name: 0, dtype: object

In [12]:
print(df.iloc[0,3])

2

In [13]:
print(df.iloc[5:7])

   TransactionID TransactionDate  uid  ProductID  Quant
5              6      2013-12-23  2.0          5      6
6              7      2013-12-30  3.0          4      1

In [14]:
sorted=df.sort_values(by='TransactionID',ascending=True)
print(sorted)

   TransactionID TransactionDate  uid  ProductID  Quant
0              1      2010-08-21  7.0          2      1
1              2      2011-05-26  3.0          4      1
2              3      2011-06-16  3.0          3      1
3              4      2012-08-26  1.0          2      3
4              5      2013-06-06  2.0          4      1
5              6      2013-12-23  2.0          5      6
6              7      2013-12-30  3.0          4      1
7              8      2014-04-24  NaN          2      3
8              9      2015-04-24  7.0          4      3
9             10      2016-05-08  3.0          4      4

In [15]:
sorted=df.sort_values(by='TransactionID',ascending=False)
print(sorted)

   TransactionID TransactionDate  uid  ProductID  Quant
9             10      2016-05-08  3.0          4      4
8              9      2015-04-24  7.0          4      3
7              8      2014-04-24  NaN          2      3
6              7      2013-12-30  3.0          4      1
5              6      2013-12-23  2.0          5      6
4              5      2013-06-06  2.0          4      1
3              4      2012-08-26  1.0          2      3
2              3      2011-06-16  3.0          3      1
1              2      2011-05-26  3.0          4      1
0              1      2010-08-21  7.0          2      1

In [21]:
sorted=df.sort_values(by=["TransactionID","ProductID"],ascending=[False,True])
print(sorted)

   TransactionID TransactionDate  uid  ProductID  Quant
9             10      2016-05-08  3.0          4      4
8              9      2015-04-24  7.0          4      3
7              8      2014-04-24  NaN          2      3
6              7      2013-12-30  3.0          4      1
5              6      2013-12-23  2.0          5      6
4              5      2013-06-06  2.0          4      1
3              4      2012-08-26  1.0          2      3
2              3      2011-06-16  3.0          3      1
1              2      2011-05-26  3.0          4      1
0              1      2010-08-21  7.0          2      1

In [23]:
print(df[['uid','TransactionID','ProductID','Quant','TransactionDate']])

   uid  TransactionID  ProductID  Quant TransactionDate
0  7.0              1          2      1      2010-08-21
1  3.0              2          4      1      2011-05-26
2  3.0              3          3      1      2011-06-16
3  1.0              4          2      3      2012-08-26
4  2.0              5          4      1      2013-06-06
5  2.0              6          5      6      2013-12-23
6  3.0              7          4      1      2013-12-30
7  NaN              8          2      3      2014-04-24
8  7.0              9          4      3      2015-04-24
9  3.0             10          4      4      2016-05-08

SyntaxError: invalid syntax (3075929613.py, line 1)

In [40]:
newarray=df['uid']

print(newarray)

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: uid, dtype: float64

In [41]:
import numpy as np

In [52]:
newarray = np.asarray(newarray).reshape(2,-1);
newarray
print(newarray)

[[ 7.  3.  3.  1.  2.]
 [ 2.  3. nan  7.  3.]]